*.pyc
*.lev
*.o
*~
.*.attrib_trace
.*.skip
*.lev
*#*#

/spec/cspec/c/32/
/spec/cspec/c/64/
/spec/cspec/c/api/
/spec/cspec/c/arch/
/spec/cspec/c/kernel_all.c
/spec/cspec/c/kernel_all.c_pp
/spec/cspec/c/parsetab.py
/spec/cspec/c/plat/
/spec/cspec/c/sources_list_updated
/spec/cspec/c/autoconf.h

/spec/haskell/doc/**/*.aux
/spec/haskell/doc/**/*.bbl
/spec/haskell/doc/**/*.blg
/spec/haskell/doc/**/*.log
/spec/haskell/doc/**/*.mpx
/spec/haskell/doc/**/*.out
/spec/haskell/doc/**/*.toc

CFunDump.txt
umm_types.txt

/tools/autocorres/doc/quickstart/output/
/tools/autocorres/sel4.txt
/tools/autocorres/tests/ROOT
/tools/autocorres/tests/parse-tests/*.thy
/tools/autocorres/tests/examples/trace_demo_incr.trace

/tools/haskell-translator/caseconvs-useful

/camkes/adl-spec/camkes.ML

/internal/
