#
# Copyright 2020, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

*.pyc
*.lev
*.o
*~
.*.attrib_trace
.*.skip
*.lev
*#*#

/spec/cspec/c/build
/spec/cspec/c/config-build
/spec/cspec/c/export
/spec/cspec/c/overlays/*/overlay.dts

/spec/haskell/stack.yaml.lock
/spec/haskell/doc/**/*.aux
/spec/haskell/doc/**/*.bbl
/spec/haskell/doc/**/*.blg
/spec/haskell/doc/**/*.log
/spec/haskell/doc/**/*.mpx
/spec/haskell/doc/**/*.out
/spec/haskell/doc/**/*.toc

/spec/design/version
/spec/design/*.thy
/spec/design/ARM/*.thy
/spec/design/ARM_HYP/*.thy
/spec/design/RISCV64/*.thy
/spec/design/X64/*.thy
/spec/design/AARCH64/*.thy

/spec/machine/*/MachineTypes.thy
/spec/machine/*/Kernel_Config.thy

CFunDump.txt
umm_types.txt

/tools/autocorres/doc/quickstart/output/
/tools/autocorres/sel4.txt
/tools/autocorres/tests/ROOT
/tools/autocorres/tests/parse-tests/*.thy
/tools/autocorres/tests/examples/trace_demo_incr.trace

/tools/haskell-translator/caseconvs-useful

/tools/c-parser/StrictC.grm.sig
/tools/c-parser/StrictC.grm.sml
/tools/c-parser/StrictC.lex.sml
/tools/c-parser/doc/*.aux
/tools/c-parser/doc/*.bbl
/tools/c-parser/doc/*.blg
/tools/c-parser/doc/*.log
/tools/c-parser/doc/*.toc
/tools/c-parser/doc/ctranslation.pdf

/camkes/adl-spec/camkes.ML

/internal/
