*~
*.minfo
umm_types.txt
globalmakevars.local

/StrictC.grm.desc

/standalone-parser/table.ML
/standalone-parser/ARM/
/standalone-parser/ARM_HYP/
/standalone-parser/X64/

/tools/mllex/mllex
/tools/mlyacc/mlyacc
/tools/mlyacc/src/yacc.lex.sml

/testfiles/**/ROOT
/testfiles/modifies_speed.c
