#
# Copyright 2020, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause
#

# generated build files

**.lhs-boot
/dist/
/dist-newstyle/
/cabal.project.local*

# cabal dependencies

/.stack-work/
/.cabal-sandbox/
/cabal.sandbox.config
