# Copyright 2023 Proofcraft Pty Ltd
#
# SPDX-License-Identifier: BSD-2-Clause

# Run proofs and rebase plaform branch.

name: Platform Proofs IMX8MM

on:
  push:
    branches:
      - imx8-fpu-ver-rebased
  # for testing:
  workflow_dispatch:

jobs:
  code:
    name: Freeze Code
    runs-on: ubuntu-latest
    outputs:
      xml: ${{ steps.repo.outputs.xml }}
    steps:
    - id: repo
      uses: seL4/ci-actions/repo-checkout@master
      with:
        manifest_repo: verification-manifest
        manifest: devel.xml

  proofs:
    name: Proof
    needs: code
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [ARM]
        plat: [imx8mm]
        num_domains: ['']
    # test only most recent push:
    concurrency:
      group: l4v-regression-${{ github.ref }}-${{ strategy.job-index }}
      cancel-in-progress: true
    steps:
    - name: Proofs
      uses: seL4/ci-actions/aws-proofs@master
      with:
        L4V_ARCH: ${{ matrix.arch }}
        L4V_PLAT: ${{ matrix.plat }}
        xml: ${{ needs.code.outputs.xml }}
        NUM_DOMAINS: ${{ matrix.num_domains }}
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_SSH: ${{ secrets.AWS_SSH }}
    - name: Upload kernel builds
      uses: actions/upload-artifact@v4
      with:
        name: kernel-builds-${{ matrix.num_domains }}-${{ matrix.arch }}-${{ matrix.plat }}
        path: artifacts/kernel-builds
        if-no-files-found: ignore
    - name: Upload logs
      uses: actions/upload-artifact@v4
      with:
        name: logs-${{ matrix.num_domains }}-${{ matrix.arch }}-${{ matrix.plat }}
        path: logs.tar.xz

  push:
    name: Push rebased branch
    runs-on: ubuntu-latest
    needs: [proofs]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: imx8-fpu-ver-rebased
        fetch-depth: 0
    - name: Push
      run: |
        git config --global user.name "seL4 CI"
        git config --global user.email "ci@sel4.systems"
        git status
        git push -f origin HEAD:imx8-fpu-ver
